body {
  background: rgb(230, 227, 227);
  color: #999;
  font-family: "Roboto Slab";
  margin: 0px;
}

header {
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  width: 50px;
  /* margin-left: 50px; */
}

.navlogo {
  display: flex;
  *width: 25%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2%;
}

.navlogo p {
  font-size: 20px;
  font-family: "Roboto Slab";
  color: #212121;
  padding: 10px;
}

.textitos {
  display: flex;
  *width: 75%;
  align-content: center;
  justify-content: flex-end;
  margin-right: 2%;
}

.textitos nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.textitos2 {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul li a {
  display: flex;
  text-decoration: none;
  color: #212121;
  font-family: Roboto Slab;
}

ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

ul {
  padding-inline-start: 0px;
}

.splash {
  width: 100%;
  height: 90vh;
  *background: url(../images/background.png) no-repeat center center fixed;
  background: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color: rgb(196, 196, 196);
}

.mitad {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
}

.mitad2 {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: flex-end;
}

.imagen {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 100px;
}
.imagen img {
  width: 100%;
  height: auto;
}

.prueba2 {
  display: flex;
  width: 75%;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .mitad2 {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .prueba2 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .imagen {
    margin: 0px;
  }

  .navlogo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.prueba {
  display: flex;
  width: 75%;
  justify-content: center;
}

.textoInterno {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.secCartas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.espacioCartas {
  width: 75%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carta {
  width: 300px;
  display: flex;
  height: 600px;
  flex-direction: column;
}

.content p {
  height: 75px;
}

.foto img {
  width: 300px;
  height: 300px;
}

.foto {
  overflow: hidden;
}

.foto img:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.fondo {
  display: flex;
  width: 100%;
  height: 10vh;
  background: black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* HERRAMIENTAS!!! */

.centrado {
  text-align: center;
}

.espacios {
  padding-top: 100px;
  padding-bottom: 100px;
}
